<a href="{{route('/register')}}">
    <div class="flex justify-end pt-20 pr-56">
        <button type="button" class="py-4 px-10 text-black bg-[#59D5E0] hover:bg-cyan-600 focus:outline-none focus:ring-4 focus:ring-cyan-300 rounded-full text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 font-medium inline-flex items-center justify-center">
            Register!
            <span class="material-symbols-outlined align-middle ml-2">arrow_circle_right</span>
        </button>    
    </div>
</a>