<div class="bg-black mt-10" data-aos="fade-down-left" data-aos-duration="1000">
    <div class="pt-16 pl-28 pb-20">
        <p class="text-white font-medium text-6xl text-left w-2/3">
            See the impact of good, conversion-oriented design on your business
        </p>
    @include('components/layouts/buttonHireMe')
    </div>

</div>